{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<section class="container py-5">
  <div class="row">
    <div class="col-lg-6">
      <h1>Crear un usuario</h1>

      <form action="{{ url_for('user_create') }}" method="POST" id="formulario"> 
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="mb-3" id="grupo_email">
          <label for="email" class="form-label">Email</label>
          <input name="email" id="email" type="email" class="form-control" placeholder="juanito@example.com" required />
          <i class=" fas fa fa-times-circle"></i>
          <p></p>
        </div>
        <div class="mb-3" id="grupo_password">
          <label for="password" class="form-label" >Contraseña</label>
          <input name="password" id="password" type="password" class="form-control" required>
          <i class=" fas fa fa-times-circle"></i>
          <p></p>
        </div>
        <div class="mb-3" id="grupo_username">
          <label for="username" class="form-label">Nombre de usuario</label>
          <input name="username" id="username" type="text" class="form-control" placeholder="pepito" required>
          <i class=" fas fa fa-times-circle"></i>
          <p></p>
        </div>
        <div class="mb-3" id="grupo_fname">
          <label for="fname" class="form-label">Nombre</label>
          <input name="fname" id="fname" type="text" class="form-control" placeholder="Juan" required>
          <i class=" fas fa fa-times-circle"></i>
          <p></p>
        </div>
        <div class="mb-3" id="grupo_lname">
          <label for="lname" class="form-label">Apellido</label>
          <input name="lname" id="lname" type="text" class="form-control" placeholder="Perez" required>
          <i class=" fas fa fa-times-circle"></i>
          <p></p>
        </div>
        <div class="mb-3 ">
          <label for="roles" class="form-label">Rol</label>
          <select name="roles" id="roles" class="form-select form-select-md mb-3" multiple required>
            {% for rol in roles %}
            <option value={{rol}}>{{rol}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="btn-group flex-wrap">
          <a href="{{ url_for('user_index') }}" class="btn btn-secondary">

            <i class="bi bi-arrow-90deg-left"></i>
            Volver</a>
          <button type="submit" class="btn btn-primary">Crear</button>
        </div>
      </form>
    </div>
    <div class="col-lg-6">
      <img src="../../static/img/create_user.jpg" class="my-3 w-100 imagenresponsive"
        alt="Imagen decorativa del formulario crear usuario">
    </div>

  </div>
</section>
{% endblock %}
{% block script %}
{{ super() }}
<script src="../../static/scripts/forms/formUser.js"></script>  
{% endblock %}
